# Telegram Bot Token
BOT_TOKEN=

# Admin Telegram IDs (comma-separated)
ADMIN_IDS=7618889413,5541894729

# Channels to check for subscription (comma-separated, without @)
CHANNELS=Lyceumverse,Mirzokhid_blog

# Platform URL for the mock exam
PLATFORM_URL=https://ais-dev-pdienhuyy6mj2mwkt3vk3o-31627344499.asia-southeast1.run.app
